<footer>
  <section class="extended">
    <div class="content">
      <div class="container">
        <nav class="row footer-items">
          <div class="first expanded col-md-2 col-sm-2 foot-col foot-logo">
            <h3>Redhat</h3></div>
          <div class="first expanded col-md-2 col-sm-2 foot-col foot-featured">
            <h3>Featured</h3>
            <ul class="menu">
              <li class="first leaf"><a href="/en/technologies/linux-platforms/enterprise-linux">Red Hat Enterprise Linux</a></li>
              <li class="leaf"><a href="/en/technologies/storage/gluster">Red Hat Gluster Storage</a></li>
              <li class="leaf"><a href="/en/technologies/linux-platforms/satellite">Red Hat Satellite</a></li>
              <li class="leaf"><a href="/en/technologies/cloud-computing/openshift">OpenShift Enterprise by Red Hat</a></li>
              <li class="leaf"><a href="/en/technologies/linux-platforms/openstack-platform">Red Hat Enterprise Linux OpenStack Platform</a></li>
              <li class="last leaf"><a href="/en/technologies/mobile/application-platform">Red Hat Mobile Application Platform</a></li>
            </ul>
          </div>
          <div class="expanded col-md-2 col-sm-2 foot-col foot-tools">
            <h3>Tools</h3>
            <ul class="menu">
              <li class="first leaf"><a href="https://www.redhat.com/wapps/sso/login.html">My account</a></li>
              <li class="leaf"><a href="https://access.redhat.com">Customer Portal</a></li>
              <li class="leaf"><a href="https://access.redhat.com/certification">Hardware catalog</a></li>
              <li class="leaf"><a href="http://partner.redhat.com/connect/business">Red Hat Connect for Business Partners</a></li>
              <li class="last leaf"><a href="/en/resources">Resource library</a></li>
            </ul>
          </div>
          <div class="expanded col-md-2 col-sm-2 foot-col foot-purchase">
            <h3>Purchase</h3>
            <ul class="menu">
              <li class="first leaf"><a href="https://www.redhat.com/wapps/store/catalog.html">Buy online (global)</a></li>
              <li class="leaf"><a href="/en/about/japan-buy">Buy online (Japan)</a></li>
              <li class="leaf"><a href="/en/about/contact/sales">Contact sales</a></li>
              <li class="leaf"><a href="/en/services/training/contact">Contact training</a></li>
              <li class="last leaf"><a href="http://redhat.force.com/finder/">Find a partner</a></li>
            </ul>
          </div>
          <div class="expanded col-md-2 col-sm-2 foot-col foot-communicate">
            <h3>Communicate</h3>
            <ul class="menu">
              <li class="first leaf"><a href="/en/about/contact">Contact us</a></li>
              <li class="leaf"><a href="/en/about/mediarelations/contact">Media inquiries</a></li>
              <li class="leaf"><a href="/en/about/analysts">Industry analyst inquiries</a></li>
              <li class="leaf"><a href="/en/about/feedback">Feedback</a></li>
              <li class="last leaf"><a href="/en/about/social">Social</a></li>
            </ul>
          </div>
          <div class="last expanded col-md-2 col-sm-2 foot-col foot-about">
            <h3>About</h3>
            <ul class="menu">
              <li class="first leaf"><a href="/en/about/news">Newsroom</a></li>
              <li class="leaf"><a href="/en/about/events">Events</a></li>
              <li class="leaf"><a href="/en/about/all-blogs">Blogs</a></li>
              <li class="leaf"><a href="/en/about/videos">Videos</a></li>
              <li class="leaf"><a href="/en/about/global">Around the world</a></li>
              <li class="leaf"><a href="/en/insights">Insights</a></li>
              <li class="leaf"><a href="http://investors.redhat.com/">Investor Relations</a></li>
              <li class="leaf"><a href="http://jobs.redhat.com/">Jobs @ Red Hat</a></li>
              <li class="last leaf"><a href="http://www.redhat.corpmerchandise.com/">Cool Stuff Store</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <section class="traditional">
    <div class="content">
      <div class="container">
        <section>
          <div class="traditional-primary">
            <div class="row">
              <div class="event-logo">
                <div id="block-block-5" class="block block-block block-footer-promote">


                  <a href="http://www.redhat.com/summit/"><img src="/profiles/rh/themes/redhatdotcom/img/logo-summit.png" style="margin-right:10px"></a>
                  <a href="http://www.devnation.org/"><img src="//www.redhat.com/cms/public/styles/thumbnail/s3private/devnation.png" alt="DevNation" style="max-width:70px;"></a>
                </div>
              </div>
              <div class="social-links">
                <nav id="foot-social">
                  <ul>
                    <li class="first leaf">
                      <a href="https://plus.google.com/+RedHat" class="icon-google-plus"></a>
                    </li>
                    <li class="leaf">
                      <a href="http://www.linkedin.com/company/red-hat" class="icon-linkedin-sign"></a>
                    </li>
                    <li class="leaf">
                      <a href="http://www.youtube.com/user/RedHatVideos" class="icon-youtube"></a>
                    </li>
                    <li class="leaf">
                      <a href="https://www.facebook.com/redhatinc" class="icon-facebook"></a>
                    </li>
                    <li class="last leaf">
                      <a href="https://twitter.com/RedHatNews" class="icon-twitter"></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div id="legal" class="legal">
            <div class="row">
              <ul class="menu">
                <li class="first leaf"><a href="/en/about/privacy-policy">Privacy statement</a></li>
                <li class="leaf"><a href="/en/about/terms-use">Terms of use</a></li>
                <li class="last leaf"><a href="/en/about/all-policies-guidelines">All policies and guidelines</a></li>
              </ul>
              <div class="copyright">Copyright &copy;2015 Red Hat, Inc.</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</footer>