<aside class="mini-bar band">
    <div class="mini-bar-inner">
        <div class="container">
            <div>
                <div class="content">

                    <ul class="options">
                        <li class="contact"><span>Contact Us</span></li>
                        <li class="share"><span>Share &amp; Save</span></li>
                    </ul>

                    <div class="mini-bar-panels">
                        <div class="contact-panel">
                            <h3>Contact Us</h3>
                            <div class="mini-bar-links">
                                <ul class="contact-options">
                                    <li><a href="tel:+19197543700" class="web-icon-call">+1 (919) 754-3700</a></li>
                                    <li><a href=" https://access.redhat.com/support/contact/customerService/" class="web-icon-envelope">Customer service</a></li>
                                    <li><a href="http://access.redhat.com" class="web-icon-dashboard">Customer Portal</a></li>
                                    <li><a href="/en/contact" class="web-icon-plus">More ways to connect</a></li>
                                </ul>
                                <h4>Sales</h4>
                                <ul class="sales-options">
                                    <li><a href="/en/about/contact/sales" class="web-icon-plus">Contact form</a></li>
                                    <li><a href="http://redhat.force.com/finder" class="web-icon-laptop">Find a partner</a></li>
                                    <li><a href="https://www.redhat.com/wapps/store/catalog.html" class="web-icon-cart">Buy online (Global)</a>
                                        <br /><a href="/en/about/japan-buy" class="web-icon-cart">Buy online (Japan)</a></li>
                                </ul>
                                <h4>Training</h4>
                                <ul class="training-options">
                                    <li><a href="/en/services/training/contact" class="web-icon-plus">Contact form</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="share-panel">
                            <h3>Share and save this page</h3>
                            <div class="mini-bar-links">
                                <ul class="save-options">
                                    <li><a href="javascript:window.print();" class="print-link web-icon" title="Click to print this page"><i class="web-icon-print"></i> Print</a></li>
                                    <li><a href="mailto:?subject=Check out this redhat.com page: Containers&amp;body=I saw this on redhat.com and thought you might be interested.  Click the following link to read: http://www.redhat.com/en/insights/containers"
                                        class="download-link web-icon" title="Click to send this page as email"><i class="web-icon-envelope"></i> Send as email</a></li>
                                </ul>
                                <div class="item-list">
                                    <ul class="share-options">
                                        <li class="first"><a href="http://www.facebook.com/sharer.php?u=http%3A//www.redhat.com/en/insights/containers" class="redhat_www_share-facebook"><span class='web-icon web-icon-facebook'></span>Facebook</a></li>
                                        <li><a href="https://plus.google.com/share?url=http%3A//www.redhat.com/en/insights/containers" class="redhat_www_share-google"><span class='web-icon web-icon-gplus'></span>Google+</a></li>
                                        <li><a href="https://twitter.com/share?url=http%3A//www.redhat.com/en/insights/containers&amp;text=Containers" class="redhat_www_share-twitter"><span class='web-icon web-icon-twitter'></span>Twitter</a></li>
                                        <li><a href="http://www.linkedin.com/shareArticle?url=http%3A//www.redhat.com/en/insights/containers&amp;title=Containers&amp;source=Redhat" class="redhat_www_share-linkedin"><span class='web-icon web-icon-linkedin'></span>LinkedIn</a></li>
                                        <li class="last"><a href="http://www.reddit.com/submit?url=http%3A//www.redhat.com/en/insights/containers&amp;title=Containers" class="redhat_www_share-reddit"><span class='web-icon web-icon-reddit'></span>Reddit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- content -->

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- mini-bar-inner -->
</aside>
<!-- mini-bar -->