---
layout: "home"
title: OpenShift Discovery Center
---

<header class="masthead masthead-devcenter text-center">
      <div class="container">
        <div class="title-inner">
          <h1>OpenShift Discovery Center</h1>
          <div class="tag">Your code. Your choice.</div>
          <div style="float:none;" class="col-md-7 col-sm-8 col-xs-8 center-block">
            <div class="search-form">
              <form role="form" method="get" id="cse-search-form-body" class="search has-button" action="/search.html">
                <input type="hidden" value="documentation" name="refinement">
                <div class="form-group">
                  <div class="search-pf-input-group">
                    <input type="search" style="outline: none;" spellcheck="false" placeholder=" Search the Discovery Center" name="query" id="cse-search-input-body" dir="ltr" class="form-control" autofocus="" autocomplete="off">
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" id="btn-search-home" class="btn btn-default">
                    <span class="fa fa-search"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="landing landing-devcenter cushion-bottom">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 col-sm-3 get-started-bloc">
            <a href="/developer/index.html">
              <div class="section-mark">
                <i class="rh rh-code rh-10x hidden-sm hidden-xs"></i>
              </div>
              <h2>Developer</h2>
            </a>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur tellus sapien. Quisque hendrerit purus ut enim hendrerit, ac semper elit cursus. Maecenas cursus interdum commodo.</span>
          </div>
          <div class="col-md-3 col-sm-3 documentation-bloc">
            <a href="/application-architect/index.html">
              <div class="section-mark">
                <i class="rh rh-user-4 rh-10x hidden-sm hidden-xs"></i>
              </div>
              <h2>Application Architect</h2>
            </a>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur tellus sapien. Quisque hendrerit purus ut enim hendrerit, ac semper elit cursus. Maecenas cursus interdum commodo.</span>
          </div>
          <div class="col-md-3 col-sm-3 help-bloc">
            <a href="/cluster-administrator/index.html">
              <div class="section-mark">
                <i class="rh rh-server-stack rh-10x hidden-sm hidden-xs"></i>
              </div>
              <h2>Cluster Administrator</h2>
            </a>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur tellus sapien. Quisque hendrerit purus ut enim hendrerit, ac semper elit cursus. Maecenas cursus interdum commodo.</span>
          </div>
          <div class="col-md-3 col-sm-3 documentation-bloc">
            <a href="/systems-platform-administrator/index.html">
              <div class="section-mark">
                <i class="rh rh-gears rh-10x hidden-sm hidden-xs"></i>
              </div>
              <h2>Systems/Platform Administrator</h2>
            </a>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur tellus sapien. Quisque hendrerit purus ut enim hendrerit, ac semper elit cursus. Maecenas cursus interdum commodo.</span>
          </div>
        </div>
      </div>
    </div>